body {
  background-color: #FFCCFF;
}

#header {
  font-size: 18px;
}

.wrapper {
  max-width: 800px;
  margin: 25px auto 0 auto;
  border: 1px solid #999999;
  padding: 50px;
  background: #FFEBF5;
  text-align: center;
  border-radius: 25px;
  color: #9b59b6;

}

#fader {
  display:none;
}

img {
  border-radius: 25px;
}

.compliment {
  font-size: 22px;
}
