body {
  width: 100%;
  background-size: cover;
  background-color: #34495e;
}

#header {
  font-size: 18px;
}

.wrapper_top, .wrapper_middle, .wrapper_bottom {
  max-width: 800px;
  margin: 20px auto 0 auto;
  padding: 25px;
  text-align: center;
  border-radius: 25px;
}

#fader {
  display:none;
}

img {
  border-radius: 25px;
}

.compliment {
  font-size: 22px;
}

.hovering {
  background-color: #9b59b6;
  color: white;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(http://www.lymanwong.com/images/Tulips_are_Here.jpg) no-repeat;
  background-size: cover;
}

.jumbotron {
  background: rgba(238,238,238,.7);
}
